<html>
  <head></head>
  <body style="background-color: <%=GlobalState[:new_color]%>">
      <label>Fibonacci: </label>
      <form action="/fibonacci">
        <input type='text' name='Fibonacci' />
        <input type='submit' value='Calculate' />
    </form>
    <label>Factorial: </label>
    <form action="/factorial">
        <input type='text' name='Factorial' />
        <input type='submit' value='Calculate' />
    </form>
    <label>Say Hi: </label>
    <form action="/sayhi">
        <input type='text' name='Say hello' />
        <input type='submit' value='Hi' />
    </form>
	<label>Enter New HTML Background Color: </label>
    <form action="/changecolor">
        <input type='text' name='Color' />
        <input type='submit' value='Change Color' />
    </form>
  </body>
</html>
