<html>
  <head>
	<title>Factorial</title>
  </head>
  <body style="background-color: <%=GlobalState[:new_color]%>">
    <p>
    Factorial(<%= factorial%>) = <%= factorial_calulated %>
    <p>
	<a href="/">Back to main</a>
  </body>
</html>
