<html>
  <head></head>
  <body style="background-color: <%=GlobalState[:new_color]%>">
    <p>
        Fibonacci(<%= fibonacci%>) = <%= fibonacci_calculated %>
    <p>
	<a href="/">Back to main</a>
  </body>
</html>
