<html>
  <head></head>
  <body>
      <label>Fibonacci: </label>
      <form action="/fibonacci">
        <input type='text' name='Fibonacci' />
        <input type='submit' value='Calculate' />
    </form>
    <label>Factorial: </label>
    <form action="/factorial">
        <input type='text' name='Factorial' />
        <input type='submit' value='Calculate' />
    </form>
    <label>Say Hi: </label>
    <form action="/sayhi">
        <input type='text' name='Say hello' />
        <input type='submit' value='Hi' />
    </form>
  </body>
</html>
