<html>
  <head>
	<title>Say Hi</title>
  </head>
  <body style="background-color: <%=GlobalState[:new_color]%>">
    <p>
    Hello, <%= name %>!
    <br>
	<a href="/">Back to main</a>
  </body>
</html>
