<html>
  <head>
	<title>Show-A-Cat</title>
  </head>
  <body style="background-color: <%=GlobalState[:new_color]%>">
    <p>
    Here is your requested cat
    <br>
	<img src="img/<%=color%>_cat_<%=num%>.jpg">
	<br>
	<a href="/">Back to main</a>
  </body>
</html>
