<html>
  <head></head>
  <body style="background-color: <%=GlobalState[:new_color]%>">
    <p>
        Here is your ideal cat
    <p>
		<img src="img/<%=color%>_cat_<%=num%>.jpg">
	<br>
	<a href="/">Back to main</a>
  </body>
</html>
